<% include header %>
<html>
  <body>
            <h1 id="abc">Enter Your Details</h1>

<form >
 <h2> First name:</h2>
  <input type="text" name="firstname" value="First Name">
 <h2>Last name:</h2>
  <input type="text" name="lastname" value="Last Name">
<h2>Email:</h2>
  <input type="text" name="email" value="Email ID"> 
  <h2>Gender:</h2>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other <br>  
  <input type="submit" value="Submit">

</form> 
    </body>
</html>
<% include footer %>