<!DOCTYPE HTML>
 
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/prakash.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<title>Prakash Info</title>
		
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			  <div class="navbar-header">
				
			  </div>
			  <ul class="nav navbar-nav">
					<a class="navbar-brand" href="/">Sai Prakash Reddy Mamidi</a>
				<li class="active"><a href="/">Home</a></li>
				
				<li><a href="https://bitbucket.org/prakashmamidi/">BitBucket</a></li>
				<li><a href="https://github.com/prakashreddy-97">GitHub</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/test">Book Ticket</a></li>
			  </ul>
			</div>
      </nav>
			</body>
			</html>